:root{

}

/* Footer */

footer {
    --footer-back: #141414;
}

.container-footer{
    background-color: var(--footer-back);
}

.icons-fotter{
    display: flex;
    justify-content: space-around;
}

.icons-fotter a{
    font-size: 30px;
    color: gray;
}

.item-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.item-footer{
    color: gray;
}

.ativo{
    color: lightblue;
}