@import 'navbar.css';
@import 'footer.css';

:root {
    --boder-item: #444;
    --background: #141414;
    --texto-cor: #fff;
    --artista: gray;
}

body{
    background-color: var(--background);
}

/* Main */

main{
    overflow-y: scroll;
    height: 75vh;
}

.container {
    padding: 5px;
}

.container-item{
    display: flex;
}

.musica{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.artista{
    padding-top: 5px;
    font-size: 15px;
    color: var(--artista);
}

.item {
    color: var(--texto-cor);
    margin-top: 5px;
    padding: 4px;
}

.item p{
    padding-left: 8px;
}

.item a{
    text-decoration: none;
    color: white;
}

.item img {
    border-radius: 10px;
    width: 4rem;
}