:root{
    --logo-texto: #fff;
    --navbar-cor: linear-gradient(32deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%);
    --links: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */


.container-nav{
    display: flex;
}

.navbar{
    background: var(--navbar-cor);
    overflow: hidden;
}

.canto{
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.canto a{
    color: white;
    font-size: 25px;
}

.logo{
    color: var(--logo-texto);
    font-size: 20px;
    padding: 18px;
    padding-right: calc(100vw - 15.62rem);
    /* padding-right: 37vw; */
}

.links{
    display: flex;
    justify-content: space-around;
    padding-bottom: 7px;
    border-bottom: 3px solid darkcyan;
}

.link-item a{
    text-decoration: none;
    color: var(--links);
}

/* Icons */

.icons{
    display: flex;
    font-size: 20px;
    color: var(--logo-texto);
    align-items: center;
    /* padding-right: 100vw; */
}

.icons a{
    color: #fff;
    text-decoration: none;
}

.icons p{
    padding: 20px;
}