:root {
  --footer-back: #141414;
  --footer-text: #fff;
}

/* Footer */

footer {
  background-color: var(--footer-back);
  padding: 15px;
}

.content-footer {
  color: var(--footer-text);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.footer-links {
  margin: 10px;
}

.footer-links a {
  color: var(--footer-text);
  text-decoration: none;
}

.sociais a {
  color: var(--footer-text);
  margin: 10px;
  font-size: 28px;
}

.copy {
  color: gray;
  margin: 10px;
}
