@import 'navbar.css';
@import 'footer.css';

/* Scroll */

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(59, 59, 59);
}


/* Main */

.container-text {
  /* background-color: #111; */
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: var(--text);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  /* background-color: aqua; */
  font-size: 1.3rem;
  padding: 10px;
  width: 500px;
}

.text p {
  color: gray;
}

/* Nota */

.nota{
  background-color: #ffff73;
  margin: 15px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.nota h1{
  text-align: center;
  color: var(--text);
}

.nota ul{
  list-style: disc;
  padding: 20px;
  font-size: 20px;
}

/* Carousel */

.title-carousel{
  color: var(--text);
  margin-top: 80px;
  margin-left: 13vw;
}

.swiper {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* Resposibilidade */

@media screen and (max-width: 768px) {
  .title {
    width: 50vw;
  }
  .navbar {
    font-size: 20px;
  }
  .container{
    margin-top: 30px;
  }
}
